<div id="resourcecomponent">
    <button (click)="logStuff()">Log endpoints</button>

    <div *ngIf="endpoints">
      <table id="endpoints">
        <tr>
          <th>Uri</th>
          <th>Type</th>
          <th>Rt</th>
          <th>Subscribed</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let endpoint of endpoints">
          <td>{{endpoint.uri}}</td>
          <td>{{endpoint.type}}</td>
          <td>{{endpoint.rt}}</td>
          <td><span *ngIf="(endpoint.uri == subscriptions)">Yes</span></td>
          <td><button>Show data</button></td>
          <td><button *ngIf="(endpoint.obs == true)" (click)="setSubscription(endpoint.uri)">Subscribe</button></td>
        </tr>
  
      </table>
    </div>
  </div>