<div id="devicecomponent">
  <button (click)="logStuff()">Log Devices</button>
  <button (click)="reloadData()">Reload Data</button>

  <div *ngIf="devicelist">
    <table id="devices">
      <tr>
        <th>Name</th>
        <th>Device type</th>
        <th>State</th>
        <th>Deployed State</th>
        <th>Updated at</th>
        <th>Created at</th>
      </tr>
      <tr *ngFor="let device of devicelist.data">
        <td><a *ngIf="(device.state == 'registered')" routerLink="/resources/{{device.name}}">{{device.name}}</a><a *ngIf="(device.state == 'deregistered')">{{device.name}}</a></td>
        <td>{{device.device_type}}</td>
        <td>{{device.state}}</td>
        <td>{{device.deployed_state}}</td>
        <td>{{device.updated_at}}</td>
        <td>{{device.created_at}}</td>
      </tr>

    </table>
  </div>
</div>